/* reset */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

body {
	min-height: 100vh;
}

img,
svg,
picture,
video {
	max-width: 100%;
}

/* utils */

.container {
	margin: 0 auto;
    padding: 50px;
}

.d-flex{
    display: flex;
}

.box{
    margin: auto;
    height: 400px;
    width: 1000px;
    border: 5px dashed black;
    display: flex;
}


/* style */

/* header */
header{
    padding: 50px 0;
    background-color: aqua;
}

.box.header{
    height: 50px;
    width: 1200px;
    display: flex;
    border: none;

}

.box.header>*{
    background-color: goldenrod;
    border: 5px dashed black;
    min-height: 50px;
    padding: 5px;
    align-items: center;
    min-width: 200px;
}

.nav{
    flex-grow: 1;
}


/* main */

/* container one */
.container.one{
    background-color: #00008b;
}

.box.pink{
    background-color: #ee82ee;
}

/* container two */
.container.two{
    background-color: white;
    display: flex;
}

.blu{
    width: calc(100% / 3 * 2);
    height: 100%;
    background-color: #1e90ff;
    display: flex;
}

.rosa{
    width: calc(100% / 3);
    height: 100%;
    background-color: #ffc0cb;
}

.container.three{
    background-color: #d3d3d3;
}

.container.four{
    background-color: white;
}

/* container five */
.container.five{
    background-color: #d3d3d3;
}

.box.green{
    background-color: #228b22;
}

/* footer */

.container.six{
    background-color: #23272a;
    border-bottom: 2px solid white;
}

.azzurro{
    width: 25%;
    height: 100%;
    border: 2px dashed white;
}

.container.seven{
    background-color: #23272a;
}

.box.footer{
    height: 50px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7fffd4;
}

.box.footer>*{
    border: 3px dashed black;
    background-color: #ffb6c1;
    width: fit-content;
    height: fit-content;
    padding: 5px;

}